<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GFHR05JEN4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-GFHR05JEN4");
  </script>
  <meta charset="UTF-8" />
  <meta property="og:title" content="Checkmate" />
  <meta property="og:description" content="나만의 할 일 친구 체크메이트" />
  <meta property="og:image" content="{{ url_for('static', filename='/img/open_graph.png') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta http-equiv="Cache-Control" content="no-cache" />

  {% block header %}{% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}" />
  <link rel="shortcut icon" href={{url_for('static', filename='img/favicon.ico' )}} type="image/x-icon">
  <link rel="icon" href={{url_for('static', filename='img/favicon.ico' )}} type="image/x-icon">
  <title>CheckMate</title>
</head>

<body id="body-pd">
  <div class="l-navbar expander" id="navbar">
    <nav class="nav">
      <div>
        <div class="nav__brand">
          <a href="/"><img class="sidebar_logo" src="../static/img/logo.png" /></a>
          <!-- <ion-icon
              name="menu-outline"
              class="nav__toggle"
              id="nav-toggle"
            ></ion-icon>
            <a href="#" class="nav__logo">CHECKMATE</a> -->
        </div>
        <div class="nav__list">
          <a href="#" class="nav__link active" onclick="location.href='/dashboard'">
            <ion-icon name="home-outline" class="nav__icon"></ion-icon>
            <span class="nav__name">Dashboard</span>
          </a>

          <a href="#" class="nav__link" id="nav_calendar" onclick="location.href='/calendar'">
            <ion-icon name="calendar-outline" class="nav__icon"></ion-icon>
            <span class="nav__name">Calendar</span>
          </a>

          <hr size="1" color="white" noshade />

          <div class="nav__link collapse" id="personal_todo">
            <a href="#" class="nav__create tooltip" id="create_personal_list_btn">
              <ion-icon name="duplicate-outline" class="nav__icon"></ion-icon>
              <span class="tooltiptext" style="left: 300%;">카테고리 추가</span>
            </a>
            <span class="nav__name">Category</span>
            <ion-icon name="chevron-down-outline" class="collapse__link md hydrated rotate"></ion-icon>

            <ul class="collapse__menu showCollapse" id="sub_personal_list" style="width: 185px"></ul>
          </div>

          <hr size="1" color="white" noshade />
        </div>
      </div>
      <div>
        <a href="#" class="nav__link" id="profile" onclick="location.href='/myprofile'">
          <ion-icon name="person-circle-outline" class="nav__icon"></ion-icon>
          <span class="nav__name">My profile</span>
        </a>
        <a href="#" class="nav__link" id="feedback" onclick="location.href='/feedback'">
          <ion-icon name="chatbox-ellipses-outline" class="nav__icon"></ion-icon>
          <span class="nav__name">Feedback</span>
        </a>
        <a href="#" class="nav__link" onclick="location.href='/auth/logout'">
          <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
          <span class="nav__name">Log Out</span>
        </a>
      </div>
    </nav>
  </div>
  <div class="extends_content">
    {% block content %}{% endblock %}
  </div>
  <footer> 
    <div class="footer-content">
        <a style="font-weight: bold;">개인정보처리방침</a>
        <p>Copyright   &copy;CheckMate.  All rights reserved.</p>
    </div>
  </footer>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <!-- ===== IONICONS ===== -->
  <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

  <!-- ===== MAIN JS ===== -->
  <script src="{{ url_for('static', filename='sidebar.js') }}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='tasks.css') }}" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
</body>

</html>
